.container-builder {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-builder-page {
    padding: 20px;
    width: 60vw;
  }
  
  .add-new-form-builder-button {
    margin-top: 20px;
    background-color: black;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 3px;
    cursor: pointer;
    display: block;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
  }
  