.sidebar {
    width: 250px;
    background-color: white;
    color: black;
    height: 100vh;
    position: fixed;
    top: 60px;
    left: 0;
    transition: left 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    padding: 20px 0;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}
  
  .sidebar.open {
    left: 0;
  }
  
  .sidebar-new-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px;
    margin: 0 20px;
    border-radius: 3px;
    cursor: pointer;
    text-align: center;
  }
  
  .sidebar-menu {
    list-style: none;
    padding: 0;
    margin: 20px 0 0;
  }
  
  .sidebar-item {
    padding: 10px 20px;
  }
  
  .sidebar-link {
    color: black;
    text-decoration: none;
    display: flex;
    align-items: center;
  }
  
  .sidebar-icon {
    margin-right: 10px;
  }
  
  @media (max-width: 768px) {
    .sidebar {
      left: -250px;
    }
  
    .sidebar.open {
      left: 0;
    }
  }
  