.app-container {
  display: flex;
  flex-direction: column;
}

.app-content {
  display: flex;
}

.content {
  flex: 1;
  padding: 20px;
  transition: margin-left 0.3s ease-in-out;
}

.sidebar-open {
  margin-left: 250px;
}

@media (max-width: 768px) {
  .content {
    margin-left: 0;
  }

  .sidebar-open {
    margin-left: 0;
  }
}
